<tr>
    <td rowspan="10"
        class="bg-primary">#{{dive.number}}</td>
    <td rowspan="10"
        class="bg-primary">{{dive.chamber}}</td>
    <td rowspan="10"
        class="bg-primary">{{dive.start}}</td>
    <td rowspan="10"
        class="bg-primary">{{dive.end}}</td>
    <td>{{dive.seats[0]}}</td>
    <td>{{dive.patients.length > 0 ? dive.patients[0].name : "Add button" }}</td>
    <td>7</td>
    <td>8</td>
</tr>
<tr *ngFor="let seat of dive.seats">
    
</tr>
<tr>
    <td>{{dive.seats[1]}}</td>
    <td>{{dive.patients.length > 1 ? dive.patients[1].name : "Add button" }}</td>
    <td>7</td>
    <td>8</td>
</tr>
<tr>
    <td>{{dive.seats[2]}}</td>
    <td>{{dive.patients.length > 2 ? dive.patients[2].name : "Add button" }}</td>
    <td>7</td>
    <td>8</td>
</tr>
<tr>
    <td>{{dive.seats[3]}}</td>
    <td>{{dive.patients.length > 3 ? dive.patients[3].name : "Add button" }}</td>
    <td>7</td>
    <td>8</td>
</tr>
<tr>
    <td>{{dive.seats[4]}}</td>
    <td>{{dive.patients.length > 4 ? dive.patients[4].name : "Add button" }}</td>
    <td>7</td>
    <td>8</td>
</tr>
<tr>
    <td>{{dive.seats[5]}}</td>
    <td>{{dive.patients.length > 5 ? dive.patients[5].name : "Add button" }}</td>
    <td>7</td>
    <td>8</td>
</tr>
<tr>
    <td>{{dive.seats[6]}}</td>
    <td>{{dive.patients.length > 6 ? dive.patients[6].name : "Add button" }}</td>
    <td>7</td>
    <td>8</td>
</tr>
<tr>
    <td>{{dive.seats[7]}}</td>
    <td>{{dive.patients.length > 7 ? dive.patients[7].name : "Add button" }}</td>
    <td>7</td>
    <td>8</td>
</tr>
<tr>
    <td>{{dive.seats[8]}}</td>
    <td>{{dive.patients.length > 8 ? dive.patients[8].name : "Add button" }}</td>
    <td>7</td>
    <td>8</td>
</tr>
<tr>
    <td>{{dive.seats[9]}}</td>
    <td>{{dive.patients.length > 9 ? dive.patients[9].name : "Add button" }}</td>
    <td>7</td>
    <td>8</td>
</tr>