<tr *ngFor="let seat of dive.chamber.seats; let i = index">
    <td rowspan="10"
        *ngIf="i == 0"
        class="bg-primary">#{{dive.number}}</td>
    <td rowspan="10"
        *ngIf="i == 0"
        class="bg-primary">{{dive.chamber.name}}</td>
    <td rowspan="10"
        *ngIf="i == 0"
        class="bg-primary">{{dive.start}}</td>
    <td rowspan="10"
        *ngIf="i == 0"
        class="bg-primary">{{dive.end}}</td>

    <td>{{seat.name}}</td>
    <td *ngIf="seat.appointment">
        {{seat.appointment.patient.firstName}}
    </td>
    <td *ngIf="!seat.appointment">
        <button class="btn btn-primary">Add patient</button>
    </td>
    <td>7</td>
    <td>8</td>
</tr>
